/* *{
    margin: 0;
    padding: 0%;
box-sizing: border-box;
overflow-x: hidden;

}
.headerHero{
    background: linear-gradient(216.04deg, #27C0EF 13.84%, #00A8DB 83.53%);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
}

nav{
display: flex;
gap: 2rem;
align-items: center;
}
.navBar{
    display: flex;
    gap: 2rem;
}
.navBar li a{
    font-family: DM Sans;
    font-size:14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.300000001992px;
    text-align: center;
    text-decoration: none;
    border: none;
    color: rgba(255, 255, 255, 1);
}

select{
background: none;
border: none;
color: #fff;

}
nav button{
    background: linear-gradient(278.21deg, #005490 1.66%, #328BCB 96.78%);
    height: 38px;
    top: 39px;
    left: 1205px;
    gap: 0px;
    border: none;
    opacity: 0px;
    ;
    color: #fff;
    border: none;
    padding: 0.5rem 1.5rem;
    font-family: DM Sans;
    font-size:14px;
    font-weight: 500;
    line-height: 18.23px;
    letter-spacing: 0.300000001992px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.hero{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
}
.textslide, h1{
    font-weight: 700;
font-size: 64px;
    line-height: 75px;
    color: #fff;
    margin-left: 1rem;
    font-family: DM Sans;
}
.textslide p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-family: DM Sans;
}
.checkmark{
    display: inline-block;
    width: 25px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
}

.checkmark:after{
    content: "";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00A8DB; */

 .brand{ 
    background-image: url(images/Mask\ Group.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 85%;
   margin: auto;
    padding: 5rem;
    margin-bottom: 5rem;
    display: flex
    justify-content: space-between;
    align-items: center;
}
.brandleft{
    display: flex;
}


footer{
    background: rgba(8, 19, 21, 1);
    color: #fff;
}
li{
    list-style-type: none;
    font-family: DM Sans ;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.5px;
    color: rgba(211, 214, 216, 1);
    margin-right: 2rem;
}
.footWrap{
    display: flex;
    width: 85%;
    margin: auto;
   
}
.footLeft{


}

.footRight h4{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.5px;
    color: rgba(211, 214, 216, 1);
  margin-bottom: 1.5rem;
}
.footLeft p {
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(211, 214, 216, 1);
    padding: 1rem 0;
    width: 68%;
}
.footRight{
    display: flex;
    gap: 4rem;
    width: 60%;
}